
/* body {
  background-color: rgb(42, 42, 42);
} */

.App {
  text-align: center;
  /* color: white; */
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

nav a {
  color: red
}

nav a.nav-inactive {
  text-decoration: none;
}

nav a.nav-active {
  color: salmon
}